.mail-sender, .form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mail-sender{
    min-width: 200px;
    width: 800px;
}
.form-div{
    margin: 10px 0 10px 0;
    flex-direction: column;
    width: inherit;
}
input[type=text],textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
}