h1 {
  color: white;
  text-transform: capitalize;
  font-size: var(--big-font);
  text-shadow: 2px 2px 5px black;
}
.company-name {
  animation-name: left-slide-in;
  animation-duration: var(--default-animation-duration);
  transform: translateX(0);
  display: block;
  text-align: center;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

@keyframes left-slide-in {
  from {
    opacity: 0;
    transform: translateX(-25vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bottom-slide-in {
  from {
    opacity: 0;
    transform: translateY(25vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.learn-more {
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
  background-color: var(--logo-color);
  transform: translateY(0);
  padding: 30px;
  font-size: 20px;
  border-radius: 60px;
  color: white;
  border: 4px solid white;
  transition: all ease-in-out 0.3s;
  animation-name: bottom-slide-in;
  animation-duration: var(--default-animation-duration);
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}
.learn-more:hover {
  transform: translateY(-10px);
  color: var(--logo-color);
  border: 4px solid var(--logo-color);
  background-color: white;
}
.slider {
  overflow: hidden;
  width: 100%;
  height: 94.6vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide 25s infinite;
}
@keyframes slide {
  0%,
  15%,
  100% {
    transform: translateX(0);
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}
.slider .slide:nth-child(1) {
  background-image: url('/sliderImages/slider1.jpg');
  animation-delay: 0;
}

.slider .slide:nth-child(2) {
  background-image: url('/sliderImages/slider2.jpg');
  animation-delay: -5s;
}

.slider .slide:nth-child(3) {
  background-image: url('/sliderImages/slider3.jpg');
  animation-delay: -10s;
}

.slider .slide:nth-child(4) {
  background-image: url('/sliderImages/slider4.jpg');
  animation-delay: -15s;
}

.slider .slide:nth-child(5) {
  background-image: url('/sliderImages/Slider5.jpg');
  animation-delay: -20s;
}
/*
beneath the first screen
*/
.core-values {
  text-align: center;
}
.what-you-doin {
  scroll-margin-top: 58px;
}
.who-are-we {
  text-transform: uppercase;
  font-weight: bold;
}
.about-us {
  font-family: 'Architects Daughter';
  font-size: 20px;
}
.text-about {
  min-width: 200px;
  max-width: 1200px;
  margin: auto;
}
.cointaner-cards {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 35px;
  margin: 50px auto 100px;
  max-width: 1500px;
}
.card {
  height: 100%;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-image {
  min-height: 300px;
}
.card-content {
  text-align: center;
  height: 270px;
}
.offer {
  background-image: url('../../public/images/riverTop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#core-values-more {
  background-color: rgba(0, 0, 0, 0.66);
  color: rgba(255, 255, 255, 0.845);
  width: 100%;
  padding-bottom: 20px;
}
h4 {
  font-size: 25px;
  margin: 5px 0 5px 0;
}
.realizations {
  min-height: 800px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.1)
    ),
    url('../../public/images/pexels-bridge.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bridge-image {
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  width: 100%;
  padding: 20px 0 20px 0;
}
#bridge-image > h2 {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .learn-more {
    padding: 15px !important;
  }
  .cointaner-cards {
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: auto 10px auto 10px;
  }
}
