:root {
  --first-color: #42c2ff;
  --second-color: #85f4ff;
  --third-color: #b8fff9;
  --fourth-color: #effffd;
  --logo-color: #095dc3;
  --big-font: 80px;
  --default-animation-duration: 2s;
  --nav-bar-hegiht: 58px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
@font-face {
  font-family: 'Architects Daughter';
  src: url('../fonts/architects_daughter.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
}
img {
  height: 9vh;
  width: auto;
}
