:root{
    --first-color: #42C2FF;
    --second-color: #85F4FF;
    --third-color: #B8FFF9;
    --fourth-color: #EFFFFD;
    --logo-color: #095dc3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
body{
    margin: 0;
    padding: 0;
}
img{
    height: 9vh;
    width: auto;
}