ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 768px;
  align-items: stretch;
}
nav {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--logo-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-bar-hegiht);
  overflow: hidden;
}
.content {
  padding-top: var(--nav-bar-hegiht);
}
.logo {
  height: var(--nav-bar-hegiht);
  width: auto;
  animation: rotating 30s infinite;
  transition: 2s ease-in-out;
  -webkit-transition: 2s;
}
@keyframes rotating {
  0% {
    transform: rotateY(0deg);
  }
  93% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
li {
  list-style-type: none;
  flex: 1;
  cursor: pointer;
  height: var(--nav-bar-hegiht);
  text-align: center;
}
li a {
  padding-top: 16px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}
li:nth-child(5) > a {
  padding-top: 5px;
}
li:nth-child(6) > a {
  padding-top: 5px;
}
.link-li.show {
  background-color: var(--logo-color);
}
.link-li.show > a {
  color: white;
}
li:hover > a {
  color: white;
}
li:hover {
  background-color: var(--logo-color);
  transition: ease-in-out 0.4s;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--logo-color);
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  .list-nav-bar {
    position: fixed;
    left: -400%;
    flex-direction: column;
    top: 58px;
    background-color: var(--logo-color);
    width: 100%;
    text-align: center;
    transition: 0.5s;
    min-width: 100px;
  }
  .list-nav-bar.active {
    left: 0;
  }
  ul {
    display: none;
    min-width: 200px;
  }
  li {
    border-left: none;
    width: 100%;
  }
  li > a {
    color: white;
  }
  li:hover > a {
    color: wheat;
  }
  .link-li.show > a {
    color: wheat;
  }
}
